<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.finaapplication">

<!--    map kit permission -->
    <!-- Allow the app to access Internet.-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--Allow the app to query the network status.-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Allow the app to read common data. -->
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <!-- Allow the app to change the WLAN status. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- Allow the app to obtain the coarse longitude and latitude of a user through the Wi-Fi network or base station. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Allow the app to receive location information from satellites through the GPS chip. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

<!--    site kit permission-->





    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>

    <!-- Allow the app to obtain the coarse longitude and latitude of a user through the Wi-Fi network or base station. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Allow the app to receive location information from satellites through the GPS chip. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Navigate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinaApplication">
<!--        <meta-data-->
<!--            android:name="com.huawei.hms.client.channel.androidMarket"-->
<!--            android:value="false" />-->

        <activity android:name=".AddressListActivity" />
        <activity android:name=".AddressDetailActivity" />
<!--        <activity android:name=".AddressListAdapter"></activity>-->
        <activity android:name=".MapDetailActivity" />
        <activity android:name=".MultiKitsMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>